<!DOCTYPE html>
<html lang="en">
<head>
    <title>Authentication <%= error ? 'Failed' : 'Success' %></title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
</head>
<body>
<script type="text/javascript">
    var oauthSession = {
      session: <%- JSON.stringify(session) %>,
      error: <%- JSON.stringify(error) %>,
      link: <%- JSON.stringify(link) %>
    };

    if (window.opener) {
        window.opener.focus();
        if (window.opener.superlogin && window.opener.superlogin.oauthSession) {
            window.opener.superlogin.oauthSession(oauthSession.error, oauthSession.session, oauthSession.link);
        }
    }
    window.close();
</script>
</body>
</html>
